h1{
    color:rgb(158, 0, 0);
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 50px;
}
div{
    background-color: rgb(rgb(196, 130, 130), green, blue);
    background-image: url(../img/Roma.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    
}
img{
    width: 1080px;
    border: 6px solid #7df108;
    border-radius: 12px;
}
p{
    color: azure;    
    text-align: left;
    text-transform: lowercase;
}
.holamundo{
    color: aqua;
}